/* Box Model Hack */
* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     text-align: center;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


/******************************************
/* header #7c98b3
font-family: "fairwater-open-serif", sans-serif;
font-weight: 400;
font-style: normal;
font-family: "fairwater-sailor-serif", sans-serif;
font-weight: 400;
font-style: normal;
font-family: "fairwater-solid-serif", sans-serif;
font-weight: 400;
font-style: normal;
/******************************************/
body{
     
}
h1{
     font-family: "fairwater-open-serif", sans-serif;
     font-weight: 400;
     font-size: 40px;
     width: 100%;
     background-color:#f5ebff;
     margin: 0;
     line-height: 120px;
     height: 120px;
}
@media screen and (max-width: 438px) {
     h1{
          font-size: 30px;
          line-height: 60px;
          letter-spacing: 4px;
     }
}
     

h2{
     font-family: "fairwater-solid-serif", sans-serif;
     font-weight: 400;
     font-style: normal;
     font-size: 28px;
     height: 40px;
     line-height: 40px;
     margin: 0;     
     width: 100%;
     background-color: #ffebef;
     cursor:pointer; 
     height: 40px;

}
.message {
     background:  #ffffee;
     color: #181818;
     display: none;
     left: 0;
     width: 100%;
     z-index: -1;  
     padding: 10%;
     transition: top 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
     overflow: hidden;
     box-sizing: border-box;   
     font-family: 'Nunito Sans', sans-serif;
     line-height: 1.5rem;
}
   
#toggle {
     position:absolute;
     appearance:none;
     cursor:pointer;
   
}
     
   
#toggle:checked ~ .message {
     display: block;
}

img{
     width: 50%;
}

.messageTwo {
     background:  #ffffee;
     color: #181818;
     display: none;
     left: 0;
     width: 100%;
     z-index: -1;  
     padding: 10%;
     transition: top 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
     overflow: hidden;
     box-sizing: border-box;   
     font-family: 'Nunito Sans', sans-serif;
     line-height: 1.5rem;
}
   
#toggleTwo {
     position:absolute;
     appearance:none;
     cursor:pointer;
   
}
     
   
#toggleTwo:checked ~ .messageTwo {
    display: block;
}
.containerTwo h2 {
     background-color: #e1faff;
}
ul{
     list-style: none;
     font-style: italic;
}

h4{
     margin: 20px 0;
}

form{
     padding: 2rem;
     font-family: 'Nunito Sans', sans-serif;
     font-size: small;
}

.number{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     
}
.number div{
     display: grid;
     flex-direction: column;
     align-content: space-between;
     width: 20%;
     background-color: #f5ebff;
     height: 110px;
     padding: 5px;
}
p {
     margin: 20px 0;     
}
button{
     width: 70px;
     margin-bottom: 40px;
}

footer{
     background-color:  #f5ebff;
     margin-top: 50px;
     position: fixed;
     bottom: 0;
     width: 100%;
}
footer p{
     font-family: 'Nunito Sans', sans-serif;
     font-size: smaller;
     margin: 0;
     padding: 2px;
     
     

}