/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* main
/******************************************/
main{
     display: grid;
     align-items: center;
     justify-content: center;
     width: 100%;
     background-color: #cee5f2;
}
form{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
    
     text-align: center;
}
.what{
     display: flex;
     width: 100%;
     justify-content: center;
     flex-direction: column;
     padding:2rem;
     background-color: #accbe1;
     margin: 0;
}
.number{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     background-color: #accbe1;
     margin: 0;
     
}
div{
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin: .5rem;
}
button{
     width: 20%;
     justify-self: center;
}
h1, h2{
     text-align: center;
}