/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}
h6 {
     margin: 0;
}
/******************************************
/* main
/******************************************/
main{
     width: 100%;
}
form{
     width: 100%;
}
label{
     display: block;
     width: 40%;
}
input{
     display: block;
     width: 30%;
}